<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PayTabs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PayTabs</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-col>
      <strong>Ready to pay with PayTabs?</strong>
      <ion-button (click) = "payWithCard()" icon-start large round color="dark">
        Pay with credit card
      </ion-button>
    </ion-col>
  </div>
</ion-content>